#header {
    background-color: #0347c4d5;
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    margin: 0px;
}

#header h1 {
    font-size: 35px;
    color: white;
}

* {
    font-family: 'Arial', sans-serif;
}

h3 {
    font-size: 30px;
}

button {
    background-color: #0347c4d5;
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
}

.enter {
    font-size: 25px;
}

input {
    height: 20px;
}

#selectordiv {
    margin-top: 7px;
    margin-bottom: 7x;
}

#selectordiv label {
    font-size: 20px;
    margin-right: 10px;
}

#getDiagnosisBtn {
    color: white;
    height: 60px;
    width: 250px;
    font-size: 30px;
    padding: 10px 20px;
}

#Missing {
    font-size: 25px;
    margin-top: 15px;
    color: red;
}